:root {
--primary-text-color: #757575;
--title-text-color: #212121;
--accent-color: #2196f3;
--white-color: #ffffff;
--background-color: #ffffff;
--background-color-hero-footer: #2f303a;
}
 body{
    font-family: Roboto, sans-serif;
    color: var(--title-text-color);
    background-color: var(--background-color);
 }

 .list{
    list-style: none;
 }

 .link{
    text-decoration: none;
    font-style: normal;
 }
 .header-list{
    display: flex;
 }
 .header-item{
    margin-right: 50px;
 }
 .header-list list {
margin-right: 50px;
 }

 /* --------------logo----------------- */
 .header-logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
 }
 .header-logo:hover {
     color: var(--accent-color);
    }
 /*----------------Site nav--------------  */
 .header{
        background: var(--background-color);
 }
 .header-link{
    color: var(--title-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
 }

 .header-link:hover,
 .header-link:focus{
    color: var(--accent-color);
 }
 .header-mail{
    color: var(--accent-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        
 }
 .header-link-mail:hover,
 .header-link-mail:focus{
    color: var(--accent-color);
 }
 
 .header-link-tel{
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
 }

 /* -----------------HERO------------- */
.hero{
    background-color: var(--background-color-hero-footer);
}
.hero-title{
    color: var(--white-color);
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
}
.button{
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    
}
.hero-botton-text{
    color: var(--white-color);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
}

/* -----------------HEADER------------- */

.about-title-list{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}
.about-text{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71px;
        letter-spacing: 0.03em;
        color:var(--primary-text-color);
}

/* ----------------Our Work----------------- */

.work-title{
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-color)}
.work-item{
    
}
